################################################################################
# File: docker/stage_4_config/configs/env_config.conf.template
#
# Description: Template for environment configuration
#              Defines environment variables and user settings
#
# Author: PotterWhite
# Created: 2024-11-21
# Last Modified: 2024-11-21
#
# Copyright (c) 2024 [Your Company/Name]
# License: MIT
################################################################################

# User configuration
export USERNAME={{USERNAME}}
export USER_UID={{USER_UID}}
export USER_GID={{USER_GID}}

# SDK configuration
export SDK_ROOT={{SDK_INSTALL_PATH}}
# export PATH={{SDK_INSTALL_PATH}}/bin:$PATH
export LD_LIBRARY_PATH={{SDK_INSTALL_PATH}}/lib:$LD_LIBRARY_PATH

# Development environment configuration
export LANG=en_US.UTF-8
export LANGUAGE=en_US:en
export LC_ALL=en_US.UTF-8

# Development tools configuration
export TERM=xterm-256color